# Pasta do Node.js (evita enviar dependências)
node_modules/

# Cache do Vite (se estiver usando)
.vite/

# Pasta de build (se existir)
dist/
build/

# Arquivo do macOS (se quiser apagar, pode remover essa linha)
.DS_Store

# Logs e arquivos de ambiente
*.log
.env 
