.contact-section {
    text-align: center;
    padding: 80px 0;
    opacity: 1;
    transform: translateY(50px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.contact-section h2{ 
    margin-bottom:8px;
}
.contact-section p {
    text-align: center; /* Centraliza o parágrafo */
    max-width: 600px; /* Limita a largura para melhor leitura */
    margin: 0 auto; /* Garante centralização horizontal */
    margin-bottom:24px;
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #BCBBBB;
    border-radius: 5px;
    font-size: 16px;
}


.contact-section button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-section button:hover {
    background-color: #555;
}
