/* Seção de Projetos */
.projects-section {
    display: flex;
    justify-content: flex-start; /* Alinha todos os itens ao lado esquerdo */
    gap: 24px;
    padding: 60px 0;
    flex-wrap: wrap;
    opacity: 1
  }
  
  .projects-section.animate {
    opacity: 1;
    transform: translateY(0); /* Posição final */
  }
  
  .project-button-container {
    width: 100%; /* O botão ocupa toda a largura da seção */
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
  }
  
  /* Layout responsivo */
  @media (max-width: 1024px) {
    .project-card {
      flex: 1 1 50%; /* Em telas médias, 2 cards por linha */
      max-width: 50%;
    }
  }
  
  @media (max-width: 767px) {
    .projects-section {
      display: block; /* Empilha os cards em telas menores */
      gap: 20px;
    }
  
    .project-card {
      flex: 1 1 100%; /* Em telas pequenas, 1 card por linha */
      max-width: 100%;
      margin: 0 auto 20px; /* Margem inferior para espaçamento entre os cards */
    }
  }
  
  /* Container de Abas */
  .tabs-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .tabs {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
  }
  
  .tab {
    padding: 10px 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  .tab.active {
    background-color: #383838;
    color: #fff;
    border-color: #383838;
  }
  
  /* Projetos por Categoria */
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .projects-tab {
    display: none;
    width: 100%; /* Ajuste para ocupar toda a largura */
  }
  
  .projects-tab.active {
    display: flex; /* Exibe os projetos da aba ativa */
    flex-wrap: wrap;
    gap: 20px;
  }
  